.technology {
  background-color: #272727;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.technology__head-box {
  width: 1280px;
  display: flex;
  flex-direction: column
}

.technology__head {
  display: flex;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  margin: 100px 0 0 70px;
}

.technology__line {
  margin-left: 70px;
  color: #FFFFFF;
  width: 1140px;
}

.technology__about {
  margin: 90px 0 26px 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

.technology__text {
  width: 460px;
  margin: 0 0 100px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;

}

.technology__box {
  display: flex;
  justify-content: center;
}

.technology__section {
  width: 90px;
  height: 60px;
  background-color: #303030;
  margin: 0 5px 100px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 1279px) {

  .technology__head-box {
    width: 768px;
  }

  .technology__line {
    width: 668px;
  }

  .technology__head {

    margin: 90px 0 0 70px;
  }
}

@media screen and (max-width: 930px) {
  .technology {
    background-color: #202020;
  }

  .technology__head-box {
    width: 320px;
  }

  .technology__line {
    width: 284px;
  }

  .technology__box {
    display: grid;
    grid-template-columns:  1fr 1fr;
  }

  .technology__section {
    margin: 0 10px 10px 10px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.04em;
  }

  .technology__text {
    width: 292px;
    margin: 0 0 60px 0;
    font-size: 11px;
    line-height: 16px;
  }

  .technology__about {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.04em;
  }

  .technology__head {

    margin: 90px 0 0 50px;
  }

  .technology__line {
    width: 284px;
    margin: 28px 0 0 50px;
  }

  .technology__box {
    padding-bottom: 70px;
  }

}