.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 520px;
  right: 0;
  visibility: hidden;
  background-color: #202020;
  max-width: 520px;
  width: 100%;
  font-family: "Inter", 'Helvetica Neue', Arial, sans-serif;
}

.popup__container-image{
}
.popup__close {
  background: transparent url('../../images/CloseIcon.svg');
  width: 32px;
  height: 32px;
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  right: 0;
  left: 520px;
  top: 0;
  bottom: 0;
}

.popup__close:hover {
  opacity: 60%;
}

@media screen and (max-width: 1200px) {

  .popup {
    visibility: hidden;
  }
  .popup__prof{
    color: #FFFFFF;
    margin-top: 621px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

  }
  .popup__film{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 130px;
  }
  .popup__link{
    margin-left: 20px;
    border: none;
    text-decoration: none;
    color: white;

    margin-top: 29px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

  }
  .popup__link:hover {
    opacity: 0.5;
    text-decoration: underline;
  }
}

@media screen and (max-width: 800px) {
  .popup__close {
    background: transparent url('../../images/CloseIcon.svg');
    width: 20px;
    height: 20px;
    top: -27px;
    right: 0;
  }
}