.promo{
  display: flex;
  color: white;
  background-color: #073042;
  width: 1280px;

}
.promo__box {
  background-color: #073042;
}

.promo__text{
  width: 626px;
  height: 104px;
  padding: 50px 0 0 70px ;
  font-family: "Inter", 'Helvetica Neue', Arial, sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
}
.landing-logo{
  padding: 102px 0 60px 488px;
  height: 244px;
  width: 722px;
  justify-self: start;
  justify-content: flex-start;
}