.preloader{
  visibility: hidden;
}
.preloader_active{
  visibility: visible;
}

.preloader__img {
  border-radius: 45px;
  position: absolute;
  top: inherit;
  left: inherit;
  background-color: #FFF;

}


