.nav{
  color: white;
  text-align: center;
  font-family: "Inter", 'Helvetica Neue', Arial, sans-serif;
  font-size: 22px;
  line-height: 26.63px;
  font-weight: 400;
  padding: 110px 0 0 70px;
  background-color: #202020;
}


.nav__about{
  display: flex;
  border-bottom: 1px solid;
}
.nav__container{
  display: flex;
}
.nav__column{
  display: flex;
  flex-direction: column
}
.nav__head{

}
.nav__text{

}
.nav__limit-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: baseline;

}
.nav__limit{
  display: flex;
  flex-direction: column;
}
.nav__time-back{
  background-color: #3DDC84;
  width: 228px;
}
.nav__time-front{
  background-color: #303030;
  width: 912px;
}
.nav__description{

}