.movies{
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr 1fr;
}
.movies__card{}
.movies__head{}
.movies__name{}
.movies__time{}
.movies__img{}