.movies{
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Inter", 'Helvetica Neue', Arial, sans-serif;
}
.profile__button{
 background-color:  #2F2F2F;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  border: 1px solid #000000;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 50px 0 80px 0;
  border-radius: 6px;
  height: 66px;
}
.input{
  outline: none;
}
.popup__input{
  outline:none;
  box-shadow: none;
  outline-offset: 0;

}
.profile__prof-mobi{
  visibility: hidden;
}
.profile__button:hover{
  opacity: 0.5;
}

@media screen and (max-width: 1200px) {
  .profile__button{
   height: 36px;
  }
  .profile__prof-mobi{
    background-color:  #202020;
    border: none;
    visibility: visible;
  }
  .profile__prof-mobi:hover{
    opacity: 0.5;
  }

}

@media screen and (max-width: 800px) {
  .movies {

    width: 320px;
  }


}
