.search {
  color: white;
  text-align: center;
  font-family: "Inter", 'Helvetica Neue', Arial, sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  border-bottom: 1px solid;
  margin-bottom: 70px;
  margin-top: 70px;
}
.search__section2 {

  display: flex;
  align-items: center;
  background-color: #202020;
}

.search__findDeck{
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  padding: 5px 0 5px 14px;
  margin-right: 30px;
  text-decoration: none;
  border: none;
  color: #FFFFFF;
  background-color: #4285F4;
  border-radius: 48px;
  width: 58.65px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;

}
.search__input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2F2F2F;
  margin-bottom: 69px;
  border-radius: 9px;
}

.search__film-box {
  display: flex;
  align-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.search__section {
  display: flex;
  align-items: center;
}

.search__findMobile {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  padding: 5px 10px 5px 10px;
  margin-right: 30px;
  text-decoration: none;
  border: none;
  color: #FFFFFF;
  background: #4285F4;
  border-radius: 48px;
  width: 58.65px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  visibility: hidden;
}

.search__find {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  padding: 5px 10px 5px 10px;
  margin-right: 30px;
  text-decoration: none;
  border: none;
  color: #FFFFFF;
  background-color: inherit;
}

.movies__search-line {
  margin-right: 30px;
  margin-left: 30px;
}

.search__smalltumb {
  margin-right: 14px;
}

.search__long {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-right: 30px;
}


@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 930px) {
  .search {
    width: 320px;
    display: flex;
    margin-bottom: 40px;
  }

  .search__film-box {
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 0 10px 0 10px;
    border-radius: 9px;
    height: 72px;

  }

  .search__input {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }

  .search__section {
    background-color: #202020;
    justify-content: center;
    padding-top: 46px;
  }

  .movies__search-img {
    visibility: collapse;
  }

  .movies__search-line {
    visibility: collapse;
  }

  .search__find {
    background-color: #202020;
  }
  .search__smalltumb{
    margin: 0;
  }
  .search__input-form{
    margin: 0;
  }
  .search__findDeck{
    visibility: hidden;
  }
  .search__findMobile{
    visibility: visible;
    margin: 16px;
  }
}